.input_search {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.panel-expansion {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px !important;
}
