<!--<h1 mat-dialog-title>{{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>Color : {{data.color}}</p>-->
<!--  <p>Age : {{data.age}}</p>-->
<!--  <p>Race : {{getRace(data.race)}}</p>-->
<!--  <p>Type : {{data.type}}</p>-->
<!--  <p>Genre : {{data.genre}}</p>-->
<!--  <p>Poids : {{data.weight}}</p>-->
<!--  <p>Description : {{data.description}}</p>-->
<!--  <p>Price : {{data.price}}</p>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>No Thanks</button>-->
<!--  <button mat-button cdkFocusInitial>Ok</button>-->
<!--</div>-->

<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  <div class="row">
    <div class="column">
      <ul>
        <li>
          <mat-form-field class="form-element">
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="form-element">
            <input matInput placeholder="Color" formControlName="color" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="form-element">
            <input matInput type="number" placeholder="Age" formControlName="age" required>
            <mat-error *ngIf="age.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="age.errors?.min">The minimum age required is 1 month</mat-error>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="form-element">
            <input matInput type="number" placeholder="Weight" formControlName="weight" required>
            <mat-error *ngIf="weight.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="weight.errors?.min">The minimum weight required is 0.1 KG</mat-error>
          </mat-form-field>
        </li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>
          <mat-form-field class="form-element">
            <mat-select placeholder="Type" formControlName="type" required>
              <mat-option *ngFor="let type of types" value="{{type}}">
                {{type}}
              </mat-option>
            </mat-select>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="form-element">
            <mat-select placeholder="Race" formControlName="race" required>
              <mat-option *ngFor="let race of races" value="{{race}}">
                {{getRace(race)}}
              </mat-option>
            </mat-select>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="form-element">
            <mat-select placeholder="Genre" formControlName="genre" required>
              <mat-option *ngFor="let genre of genres" value="{{genre}}">
                {{genre}}
              </mat-option>
            </mat-select>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>
          <mat-form-field class="form-element" style="width: 85%;">
          <textarea matInput #message maxlength="256" placeholder="Description" formControlName="description" required>
          </textarea>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="form-element">
            <input matInput type="number" placeholder="Price" formControlName="price" required>
            <mat-error *ngIf="price.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="price.errors?.min">The minimum price required is 1€</mat-error>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-element form-center">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Update</button>
  </div>
</form>
